/.qt_for_python
/build
/Build.py
/images
/images.qrc
/qrc2py.py
/sanalfutbol.xlsx
/seleniumtest.py
/Settings.json
/ui
/__init__.py
__pycache__
requesttest.py
Driver2.py
Driver3.py
test.html
log.txt
bahtsizbedevi.py
superbet666new.py
requesttesthaftabilgi.py